

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        width: 100vw;
    }

    header {
        width: 100vw;
        padding: 1rem;
        background-color: #599fa4;
        color: #002028;
        text-align: center;
    }
    
    body {
        width: 100vw;
        background-color: #292929;
        color: #fff;
        
    }

    #description  {
        text-align: center;
        margin-top: 10px;
    }

    #weather-cards {
        margin: 2rem;
      /*   border: #a63535 solid 1px; /* temporary border */ 
        background-color: inherit;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    /*** Weather Cards ***/
    .card  {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 2fr 2fr 1fr;
        grid-template-areas: 
            "city city city icon"
            "weather weather temperature temperature"
            "humidity humidity wind wind"
            ;
        gap: .3rem;
        margin: 1rem;
        padding: 1rem;
        border-radius: .8rem;
        background-color: #444;
        width: 250px;
    }

    .city {
        grid-area: city;
        font-size: 30px;
    }

    .icon {
        grid-area: icon;
        font-size: 30px;
        text-align: end;
    }

    .weather {
        grid-area: weather;
        font-size: 20px;
    }

    .temperature {  
        grid-area: temperature;
        font-size: 30px;
        text-align: end;
    }

    .humidity {  
        grid-area: humidity;
    }

    .wind {  
        grid-area: wind;
    }

    /*** Weather styles ***/
    .clear, .klar-himmel {
        background-color: #22b5c0;
        color: #1f170e;
    }

    .clouds, .molnigt, .delvis-molnigt {
        background-color: #72b0b8;
        color: #1f170e;
    }

    .fog {
        background-color: #585858;
        color: white;
    }

    .rain, .regn, .lätt-regn {
        background-color: #3a4c64;
    }

    .snow { 
        background-color: azure;
        color: #292929;
    }

    .storm {
        background-color: #444;
    }

    .sunny, .sol {
        background-color: #f5ee99;
        color: #1f170e;
    }

    .thunderstorm {
        background-color: #0d203a;
    }

    .windy {
        background-color: #585858;
    }



